@namespace CG.Blazor.Components
@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <MudCard @attributes="UserAttributes"
             Class="@Classname"
             Style="@Style"
             Elevation="@Elevation"
             Outlined="@Outlined"
             Square="@Square">

        @if (!HideHeader)
        {
            <MudCardHeader>
                <MudGrid Spacing="2">
                    @if (!HideTimeline)
                    {
                        <MudItem xs="12">
                            <MudTimeline Style="width:100%;"
                                Class="my-n10"
                                TimelineOrientation="TimelineOrientation.Horizontal"
                                SelectedIndexChanged=@(AllowActiveTimeline ? x => TimelineSelect(x) : x => {})>
                                @foreach (var panel in _panels)
                                {
                                    <MudTimelineItem Size="Size.Small"
                                        Color=@(SelectedPanel == panel ? SelectedDotColor : DotColor) 
                                        Variant=@(SelectedPanel == panel ? Variant.Filled : Variant.Outlined)
                                        Style=@(AllowActiveTimeline && CanSkipAhead ? "cursor:pointer" : "")>
                                        <ItemDot>@(_panels.IndexOf(panel) + 1)</ItemDot>
                                    </MudTimelineItem>
                                }
                            </MudTimeline>
                        </MudItem>
                    }
                    @if (!string.IsNullOrEmpty(@SelectedPanel?.Title))
                    {
                        <MudItem xs="12">
                            <MudText Typo="Typo.body1">@SelectedPanel.Title</MudText>
                        </MudItem>
                    }
                    @if (!string.IsNullOrEmpty(@SelectedPanel?.Description))
                    {
                        <MudItem xs="12">
                            <MudText Typo="Typo.caption">@SelectedPanel.Description</MudText>
                        </MudItem>
                    }
                </MudGrid>
            </MudCardHeader>
        }

        <MudCardContent>
            @ChildContent
        </MudCardContent>

        @if (!HideActions)
        {
            <MudCardActions>
                @if (!HideCancelButton)
                {
                    @if (!string.IsNullOrEmpty(CancelButtonTooltip))
                    {
                        <MudTooltip Text=@CancelButtonTooltip>
                            <MudButton OnClick="RaiseWizardCancelled"
                                        Color="@CancelButtonColor"
                                        Variant="@CancelButtonVariant">
                                Cancel
                            </MudButton>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudButton OnClick="RaiseWizardCancelled"
                                    Color="@CancelButtonColor"
                                    Variant="@CancelButtonVariant">
                            Cancel
                        </MudButton>
                    }
                }                    

                <span style="display: flex; margin-left: auto">
                    @if (!string.IsNullOrEmpty(PreviousButtonTooltip))
                    {
                        <MudTooltip Text=@PreviousButtonTooltip>
                            <MudButton OnClick="OnPrevious"
                                        Disabled="@IsPreviousDisabled"
                                        Class="mr-4"
                                        Color="@PreviousButtonColor"
                                        Variant="@PreviousButtonVariant">
                                Previous
                            </MudButton>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudButton OnClick="OnPrevious"
                                    Class="mr-4"
                                    Disabled="@IsPreviousDisabled"
                                    Color="@PreviousButtonColor"
                                    Variant="@PreviousButtonVariant">
                            Previous
                        </MudButton>
                    }
                    @if (IsFinishVisible)
                    {
                        @if (!string.IsNullOrEmpty(NextButtonTooltip))
                        {
                            <MudTooltip Text=@NextButtonTooltip>
                                <MudButton OnClick="RaiseWizardFinished"
                                            Color="@FinishButtonColor"
                                            Disabled="@DisableNextButton"
                                            Variant="@FinishButtonVariant">
                                    Finish
                                </MudButton>
                            </MudTooltip>
                        }
                        else
                        {
                            <MudButton OnClick="RaiseWizardFinished"
                                        Color="@FinishButtonColor"
                                        Disabled="@DisableNextButton"
                                        Variant="@FinishButtonVariant">
                                    Finish
                            </MudButton>
                        }
                    }
                    else
                    {
                        @if (!string.IsNullOrEmpty(NextButtonTooltip))
                        {
                            <MudTooltip Text=@NextButtonTooltip>
                                <MudButton OnClick="OnNext"
                                            Disabled="@IsNextDisabled"
                                            Color="@NextButtonColor"
                                            Variant="@NextButtonVariant">
                                            Next
                                </MudButton>
                            </MudTooltip>
                        }
                        else
                        {
                            <MudButton OnClick="OnNext"
                                        Disabled="@IsNextDisabled"
                                        Color="@NextButtonColor"
                                        Variant="@NextButtonVariant">
                                        Next
                            </MudButton>
                        }
                }
                </span>
            </MudCardActions>
        }
    </MudCard>
</CascadingValue>
